@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color: #fafaff;
    color: #1c1c1c;
    font-family: "Cabin", sans-serif;
    font-weight: 400; 
}

header{
    padding: 2rem; /* rem: relative unit of measurement */
    background-color: #f0cf65;
    text-align: center;
}

/* using flexbox */
main{
    padding: 2rem;
    display: flex; /* horizontal alignment*/
    flex-direction: column;
    gap: 1.5rem; /*space between the sections*/
}

section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
